{%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
  {%- form 'localization', id: 'localization_form_tag', class: 'lang-switcher-form' -%}
    <div class="localization-form__buttons">
      {% for language in localization.available_languages %}
        {{ language.iso_code }}
        <button id="locale_item_{{ language.iso_code }}" class="localization-button link" lang="{{ language.iso_code }}" >{{ language.endonym_name | capitalize }}</button>
      {% endfor %}
    </div>
  {{ localization.country.iso_code }}
    <input type="hidden" name="locale_code" value="{{ localization.country.iso_code }}" />
  {%- endform -%}
{% endif %}

<style>
  .localization-button.active {
    background-color: #ccc;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Получаем текущий выбранный язык из localStorage, если есть
    var selectedLanguage = localStorage.getItem('selectedLanguage');
    if (!selectedLanguage) {
      // Если выбранный язык не найден в localStorage, устанавливаем язык по умолчанию
      localStorage.setItem('selectedLanguage',  "{{ localization.country.iso_code }}"); // Предполагается, что localization.country.iso_code содержит код языка по умолчанию
      // Сохраняем язык по умолчанию в localStorage
      localStorage.setItem('selectedLanguage', selectedLanguage);
    }

    // Добавляем класс "active" к кнопке языка по умолчанию
    var defaultButton = document.getElementById("locale_item_" + selectedLanguage);
    if (defaultButton) {
      defaultButton.classList.add("active");
    }

    document.querySelectorAll(".localization-button").forEach(item => {
      item.addEventListener("click", event => {
        // Удаление класса "active" у всех кнопок
        document.querySelectorAll(".localization-button").forEach(button => {
          button.classList.remove("active");
        });
        // Добавление класса "active" к выбранной кнопке
        item.classList.add("active");
        // Получаем код языка из атрибута lang кнопки
        var langCode = item.getAttribute("lang");
        // Сохраняем выбранный язык в localStorage
        localStorage.setItem('selectedLanguage', langCode);
        // Получаем скрытое поле формы
        var localeCodeField = document.querySelector("#localization_form_tag input[name='locale_code']");
        if (localeCodeField) {
          // Устанавливаем значение скрытого поля формы на код языка
          localeCodeField.value = langCode;
          // Отправляем форму
          document.getElementById("localization_form_tag").submit();
        } else {
          console.error("Поле формы не найдено");
        }
      });
    });
  });
</script>