{{ 'base-custom.css' | asset_url | stylesheet_tag }}
{{ 'components.css' | asset_url | stylesheet_tag }}
{{ 'colection-filters.css' | asset_url | stylesheet_tag -}}
{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- liquid
  assign sort_by = collection.sort_by | default: collection.default_sort_by
  if collection.url
    assign results_url = collection.url
  else
    assign terms = collection.terms | escape
    assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  endif
-%}

<div class="category_navigation">
  {%- paginate collection.products by section.settings.products_per_page -%}
    <div class="page-width">
      <div class="category_container">
        <div class="header_section">
          {% render 'breadcrumbs' %}

          <div class="navigation">
            <button
              id="sorting_button"
              class="sorting_button hover_opacity uppercase"
            >
              <span>{{ 'general.sort_title' | t }}</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 15 15"
                fill="none"
              >
                <path
                  d="M12.2522 4.83465L7.85998 9.15747C7.76415 9.25227 7.63479 9.30545 7.49998 9.30545C7.36518 9.30545 7.23581 9.25227 7.13998 9.15747L2.74779 4.83559C2.65137 4.74083 2.52158 4.68774 2.38639 4.68774C2.25119 4.68774 2.12141 4.74083 2.02498 4.83559C1.9775 4.88188 1.93976 4.93721 1.914 4.99831C1.88823 5.05942 1.87496 5.12506 1.87496 5.19137C1.87496 5.25769 1.88823 5.32333 1.914 5.38443C1.93976 5.44553 1.9775 5.50086 2.02498 5.54715L6.41623 9.86903C6.70547 10.153 7.09463 10.3121 7.49998 10.3121C7.90533 10.3121 8.29449 10.153 8.58373 9.86903L12.975 5.54715C13.0226 5.50085 13.0605 5.44546 13.0863 5.38427C13.1122 5.32308 13.1255 5.25733 13.1255 5.1909C13.1255 5.12448 13.1122 5.05873 13.0863 4.99754C13.0605 4.93635 13.0226 4.88096 12.975 4.83465C12.8786 4.73989 12.7488 4.6868 12.6136 4.6868C12.4784 4.6868 12.3486 4.73989 12.2522 4.83465Z"
                  fill="black"
                />
              </svg>
            </button>
            <button
              id="filters_button"
              class="filters_button hover_opacity uppercase"
            >
              <span> {{ 'general.filters' | t }}</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 18 18"
                fill="none"
              >
                <path
                  d="M15.9375 9.00004H6.67125M3.4005 9.00004H2.0625M3.4005 9.00004C3.4005 8.56641 3.57276 8.15054 3.87938 7.84392C4.186 7.5373 4.60187 7.36504 5.0355 7.36504C5.46913 7.36504 5.885 7.5373 6.19162 7.84392C6.49824 8.15054 6.6705 8.56641 6.6705 9.00004C6.6705 9.43367 6.49824 9.84954 6.19162 10.1562C5.885 10.4628 5.46913 10.635 5.0355 10.635C4.60187 10.635 4.186 10.4628 3.87938 10.1562C3.57276 9.84954 3.4005 9.43367 3.4005 9.00004ZM15.9375 13.9553H11.6265M11.6265 13.9553C11.6265 14.389 11.4538 14.8054 11.1471 15.112C10.8404 15.4187 10.4245 15.591 9.99075 15.591C9.55712 15.591 9.14125 15.418 8.83463 15.1114C8.52801 14.8048 8.35575 14.3889 8.35575 13.9553M11.6265 13.9553C11.6265 13.5216 11.4538 13.106 11.1471 12.7993C10.8404 12.4926 10.4245 12.3203 9.99075 12.3203C9.55712 12.3203 9.14125 12.4925 8.83463 12.7992C8.52801 13.1058 8.35575 13.5217 8.35575 13.9553M8.35575 13.9553H2.0625M15.9375 4.04479H13.6088M10.338 4.04479H2.0625M10.338 4.04479C10.338 3.61116 10.5103 3.19529 10.8169 2.88867C11.1235 2.58205 11.5394 2.40979 11.973 2.40979C12.1877 2.40979 12.4003 2.45208 12.5987 2.53425C12.7971 2.61641 12.9773 2.73685 13.1291 2.88867C13.2809 3.04049 13.4014 3.22074 13.4835 3.4191C13.5657 3.61747 13.608 3.83008 13.608 4.04479C13.608 4.2595 13.5657 4.47211 13.4835 4.67048C13.4014 4.86884 13.2809 5.04909 13.1291 5.20091C12.9773 5.35273 12.7971 5.47317 12.5987 5.55533C12.4003 5.6375 12.1877 5.67979 11.973 5.67979C11.5394 5.67979 11.1235 5.50753 10.8169 5.20091C10.5103 4.89429 10.338 4.47842 10.338 4.04479Z"
                  stroke="black"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                />
              </svg>
            </button>
          </div>
        </div>
        <div class="collapse">
          <div id="sorting_collapse">
            <div class="sorting_collapse">
              {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
              <ul class="sorting_list">
                {%- for option in collection.sort_options -%}
                  {% if option.value == 'manual'
                    or option.value == 'price-ascending'
                    or option.value == 'price-descending'
                  %}
                    <li>
                      <form action="?sort_by={{ option.value }}" method="GET">
                        <input type="hidden" name="sort_by" value="{{ option.value }}">
                        <button type="submit" class="text_primary {% if option.value == sort_by %}underline{% endif %}">
                          {{ option.name | escape }}
                        </button>
                      </form>
                    </li>
                  {% endif %}
                {%- endfor -%}
              </ul>
            </div>
          </div>
          <div id="filter_collapse">
            <div class="min_height">
              <facet-filters-form>
                <form id="FacetFiltersForm">
                  <div class="filter_collapse">
                    {%- for filter in collection.filters -%}
                      {% if filter.param_name == 'filter.v.option.season' %}
                        <div class="season_filter">
                          <p class="title_filter text_primary uppercase">{{ filter.label }}</p>
                          <div class="season_filter_list filter_list">
                            {%- for option in filter.values -%}
                              <input
                                class="checkbox_filters"
                                id="Filter-{{ filter.param_name | escape }}-{{ forloop.index }}"
                                data-label="{{ option.value }}"
                                value="{{ option.value }}"
                                type="checkbox"
                                {% if option.active %}
                                  checked
                                {% endif %}
                                name="{{ option.param_name }}"
                              >
                            {%- endfor -%}
                          </div>
                        </div>
                      {% endif %}
                      {% if filter.param_name == 'filter.v.option.size' %}
                        <div class="size_filter">
                          <p class="title_filter text_primary uppercase">{{ filter.label }}</p>
                          <div class="size_filter_list filter_list">
                            {% for option in filter.values %}
                              <input
                                class="checkbox_filters {% if option.value.size > 3 %} colspan_2 {% endif %}"
                                id="Filter-{{ filter.param_name | escape }}-{{ forloop.index }}"
                                data-label="{{ option.value }}"
                                value="{{ option.value }}"
                                type="checkbox"
                                {% if option.active %}
                                  checked
                                {% endif %}
                                name="{{ option.param_name }}"
                              >
                            {% endfor %}
                          </div>
                        </div>
                      {% endif %}
                      {% if filter.param_name == 'filter.v.option.color' %}
                        <div class="colors_filter">
                          <p class="title_filter text_primary uppercase">{{ filter.label }}</p>
                          <div class="colors_filter_list filter_list">
                            {%- for option in filter.values -%}
                              <input
                                class="checkbox_filters"
                                id="Filter-{{ filter.param_name | escape }}-{{ forloop.index }}"
                                data-label="{{ option.value }}"
                                value="{{ option.value }}"
                                type="checkbox"
                                {% if option.active %}
                                  checked
                                {% endif %}
                                name="{{ option.param_name }}"
                              >
                            {%- endfor -%}
                          </div>
                        </div>
                      {% endif %}
                      {% if filter.param_name == 'filter.v.option.collection' %}
                        <div class="colection_filter">
                          <p class="title_filter text_primary uppercase">{{ filter.label }}</p>
                          <div class="colection_filter_list filter_list">
                            {%- for option in filter.values -%}
                              <input
                                class="checkbox_filters"
                                id="Filter-{{ filter.param_name | escape }}-{{ forloop.index }}"
                                data-label="{{ option.value }}"
                                value="{{ option.value }}"
                                type="checkbox"
                                {% if option.active %}
                                  checked
                                {% endif %}
                                name="{{ option.param_name }}"
                              >
                            {%- endfor -%}
                          </div>
                        </div>
                      {% endif %}
                      {% if filter.param_name == 'filter.v.availability' %}
                        <div class="availability_filter">
                          <p class="title_filter text_primary uppercase">{{ filter.label }}</p>
                          <div class="availability_filter_list filter_list">
                            {%- for option in filter.values -%}
                              <input
                                class="checkbox_filters"
                                id="Filter-{{ filter.param_name | escape }}-{{ forloop.index }}"
                                data-label="{{ option.label }}"
                                value="{{ option.value }}"
                                type="checkbox"
                                {% if option.active %}
                                  checked
                                {% endif %}
                                name="{{ option.param_name }}"
                              >
                            {%- endfor -%}
                          </div>
                        </div>
                      {% endif %}
                      {% if filter.param_name == 'filter.p.tag' %}
                        <div class="additional_filter">
                          <p class="title_filter text_primary uppercase">{{ filter.label }}</p>
                          <div class="additional_filter_list filter_list">
                            {%- for option in filter.values -%}
                              <input
                                class="checkbox_filters"
                                id="Filter-{{ filter.param_name | escape }}-{{ forloop.index }}"
                                data-label="{{ option.value }}"
                                value="{{ option.value }}"
                                type="checkbox"
                                {% if option.active %}
                                  checked
                                {% endif %}
                                name="{{ option.param_name }}"
                              >
                            {%- endfor -%}
                          </div>
                        </div>
                      {% endif %}
                    {%- endfor -%}
                    <div class="button_clear_box">
                      <a
                        id="clearFiltersButton"
                        href="{{ results_url }}"
                        class="button_outline text_primary uppercase btn_clear_filters"
                      >
                        <span>{{ 'products.facets.clear' | t }}</span>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="9"
                          height="8"
                          viewBox="0 0 9 8"
                          fill="none"
                        >
                          <path d="M1 0.5L8 7.5"  />
                          <path d="M8 0.5L1 7.5"  />
                        </svg>
                      </a>
                    </div>
                  </div>
                </form>
              </facet-filters-form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="product-grid-container{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
      id="ProductGridContainer"
      {% if settings.animations_reveal_on_scroll %}
        data-cascade
      {% endif %}
    >
      {%- if collection.products.size == 0 -%}
        <div class="collection collection--empty page-width" id="product-grid" data-id="{{ section.id }}">
          <div class="loading-overlay gradient"></div>
          <div class="title-wrapper center">
            <h2 class="title title--primary">
              {{ 'sections.collection_template.empty' | t -}}
              <br>
              {{
                'sections.collection_template.use_fewer_filters_html'
                | t: link: collection.url, class: 'underlined-link link'
              }}
            </h2>
          </div>
        </div>
      {%- else -%}
        <div class="collection page-width">
          <div class="loading-overlay gradient"></div>
          <div id="collections_wrapper">
            <ul
              id="product-grid"
              data-id="{{ section.id }}"
              data-next-url="{{ paginate.next.url }}"
              class="colection_list"
            >
              {%- for product in collection.products -%}
                <li>
                  {% render 'card-product-new', card_product: product %}
                </li>
              {%- endfor -%}
            </ul>
          </div>
          <button
            id="show-more-products"
            class="
              button_primary
              show_all
            "
          >
            {{ 'general.view_more' | t }}
          </button>
          {%- if paginate.pages > 1 -%}
            {% render 'pagination', paginate: paginate, anchor: '' %}
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
  {%- endpaginate -%}
</div>

<script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'colection-filters.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'show-more-button.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Colection filters",
  "tag": "section",
  "class": "section",
  "settings": [],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Colection filters"
    }
  ]
}
{% endschema %}
