{{ 'accordion.css' | asset_url | stylesheet_tag -}}
{{ 'product-info.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">

<section class="product-info">
  <div class="page-width">
    {% render 'breadcrumbs' %}
    <div class="product_container flex-container">
      <div class="product-card">
        <div class="swiper-with-buttons">
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              {% for image in product.images %}
                <div class="swiper-slide">
                  <img
                    src="{{ image.src | img_url: 'master' }}"
                    alt="{{ image.alt }}"
                  >
                </div>
              {% endfor %}
            </div>
          </div>
          <svg
            class="button-prev"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="arrow-up">
              <rect x="0.5" y="0.5" width="23" height="23" rx="11.5" stroke="white" />
              <path id="Vector"
                d="M7.7197 14.2738L11.6757 10.5852C11.7621 10.5043 11.8786 10.459 12 10.459C12.1214 10.459 12.2379 10.5043 12.3242 10.5852L16.2803 14.273C16.3671 14.3539 16.484 14.3992 16.6058 14.3992C16.7276 14.3992 16.8445 14.3539 16.9313 14.273C16.9741 14.2335 17.0081 14.1863 17.0313 14.1342C17.0545 14.082 17.0664 14.026 17.0664 13.9694C17.0664 13.9128 17.0545 13.8568 17.0313 13.8047C17.0081 13.7526 16.9741 13.7053 16.9313 13.6658L12.9761 9.97807C12.7156 9.73574 12.3651 9.59998 12 9.59998C11.6349 9.59998 11.2844 9.73574 11.0239 9.97807L7.06867 13.6658C7.02577 13.7054 6.99167 13.7526 6.96839 13.8048C6.9451 13.857 6.93311 13.9132 6.93311 13.9698C6.93311 14.0265 6.9451 14.0826 6.96839 14.1348C6.99167 14.187 7.02577 14.2343 7.06867 14.2738C7.15552 14.3547 7.27242 14.4 7.39418 14.4C7.51595 14.4 7.63285 14.3547 7.7197 14.2738Z"
                fill="white" />
            </g>
          </svg>
          <svg
            class="button-next"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="arrow-up">
              <rect x="0.5" y="0.5" width="23" height="23" rx="11.5" stroke="white" />
              <path id="Vector"
                d="M7.7197 14.2738L11.6757 10.5852C11.7621 10.5043 11.8786 10.459 12 10.459C12.1214 10.459 12.2379 10.5043 12.3242 10.5852L16.2803 14.273C16.3671 14.3539 16.484 14.3992 16.6058 14.3992C16.7276 14.3992 16.8445 14.3539 16.9313 14.273C16.9741 14.2335 17.0081 14.1863 17.0313 14.1342C17.0545 14.082 17.0664 14.026 17.0664 13.9694C17.0664 13.9128 17.0545 13.8568 17.0313 13.8047C17.0081 13.7526 16.9741 13.7053 16.9313 13.6658L12.9761 9.97807C12.7156 9.73574 12.3651 9.59998 12 9.59998C11.6349 9.59998 11.2844 9.73574 11.0239 9.97807L7.06867 13.6658C7.02577 13.7054 6.99167 13.7526 6.96839 13.8048C6.9451 13.857 6.93311 13.9132 6.93311 13.9698C6.93311 14.0265 6.9451 14.0826 6.96839 14.1348C6.99167 14.187 7.02577 14.2343 7.06867 14.2738C7.15552 14.3547 7.27242 14.4 7.39418 14.4C7.51595 14.4 7.63285 14.3547 7.7197 14.2738Z"
                fill="white" />
            </g>
          </svg>
        </div>
        <div thumbSlider="" class="swiper mySwiper2">
          <div class="swiper-wrapper">
            {% for image in product.images %}
              <div class="swiper-slide">
                <img
                  src="{{ image.src | img_url: 'master' }}"
                  alt="{{ image.alt }}"
                >
              </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="catalogue-card_description">
        {%- assign product_form_id = 'product-form-' | append: section.id -%}
        <div class="catalogue-card-description_name">
          <h2>{{ product.title }}</h2>
          <a
            href="#"
            class="iWishAddColl  add-to-favorite "
            data-product="{{ product.id }}"
            data-variant="{{ product.selected_or_first_available_variant.id }}"
          >
            <svg
              viewBox="0 0 22 20"
              class="icon"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M11.62 18.81C11.28 18.93 10.72 18.93 10.38 18.81C7.48 17.82 1 13.69 1 6.68998C1 3.59998 3.49 1.09998 6.56 1.09998C8.38 1.09998 9.99 1.97998 11 3.33998C11.5138 2.64585 12.183 2.0817 12.954 1.69272C13.725 1.30374 14.5764 1.10074 15.44 1.09998C18.51 1.09998 21 3.59998 21 6.68998C21 13.69 14.52 17.82 11.62 18.81Z" />
            </svg>
          </a>
        </div>
        <div class="catalogue-card-description_price">
          <div>
            {%- render 'price', product: product, use_variant: true, price_class: 'price--large' -%}
          </div>
          <span class="article">{{ product.id }}</span>
        </div>

        <div id="check_variant" class="catalogue-card-description_order-form">
          <div class="choose-color-and-size">
            {% render 'select', options: product.variants, option_label: 'option2', name: 'Color', default: 'Колір' %}

            {% comment %} {% render 'select', options: product.variants, option_label: 'option1', name: 'Size', default: 'Розмір' %} {% endcomment %}
          </div>
          {% comment %} <button class="button_primary">Додати до кошика</button> {% endcomment %}
          {%- render 'buy-buttons', product: product, product_form_id: product_form_id, section_id: section.id -%}
        </div>

        <div class="catalogue_supplies-description">
          <button class="accordion"> {{ 'general.description' | t }}</button>
          <div class="panel">
            <p>
              {{ product.description }}
            </p>
          </div>

          <button class="size-table accordion">{{ 'general.dimensional_grid' | t }}</button>
          <div class="panel">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat.
            </p>
          </div>

          <button class="delivery accordion">{{ 'general.delivery_policy' | t }}</button>
          <div class="panel">
            <p>
              {{ section.settings.delivery }}
            </p>
          </div>

          <button class="delivery accordion">{{ 'general.return_of_goods' | t }}</button>
          <div class="panel">
            <p>
              {{ section.settings.return_of_goods }}
            </p>
          </div>

          <button class="delivery accordion">{{ 'general.payment_methods' | t }}</button>
          <div class="panel">
            <p>
              {{ section.settings.payment_methods }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ request.origin | append: product.url | json }},
    {% if seo_media -%}
      "image": [
        {{ seo_media | image_url: width: 1920 | prepend: "https:" | json }}
      ],
    {%- endif %}
    "description": {{ product.description | strip_html | json }},
    {% if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif %}
    "brand": {
      "@type": "Brand",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          {%- if variant.barcode.size == 12 -%}
            "gtin12": {{ variant.barcode }},
          {%- endif -%}
          {%- if variant.barcode.size == 13 -%}
            "gtin13": {{ variant.barcode }},
          {%- endif -%}
          {%- if variant.barcode.size == 14 -%}
            "gtin14": {{ variant.barcode }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ request.origin | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer="defer"></script>
<script src="{{ 'accordion.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-info-new.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'select.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Product info",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "richtext",
      "id": "delivery",
      "default": "Lorem",
      "label": "Delivery policy"
    },
    {
      "type": "richtext",
      "id": "return_of_goods",
      "default": "Lorem",
      "label": "Return of goods"
    },
    {
      "type": "richtext",
      "id": "payment_methods",
      "default": "Lorem",
      "label": "Payment methods"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
        },
        {
          "id": "swatch_shape",
          "label": "t:sections.main-product.blocks.variant_picker.settings.swatch_shape.label",
          "type": "select",
          "info": "t:sections.main-product.blocks.variant_picker.settings.swatch_shape.info",
          "options": [
            {
              "value": "circle",
              "label": "t:sections.main-product.blocks.variant_picker.settings.swatch_shape.options__1.label"
            },
            {
              "value": "square",
              "label": "t:sections.main-product.blocks.variant_picker.settings.swatch_shape.options__2.label"
            },
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.variant_picker.settings.swatch_shape.options__3.label"
            }
          ],
          "default": "circle"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product info"
    }
  ]
}
{% endschema %}
